/* NAVIGATION */

header {
  background: #f6f5f0;
  position: fixed;
  width: 100%;

  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
  /* padding-bottom: 0.5em; */
  top: 0;
  z-index: 1;
}

nav {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  margin-right: 1.2em;
  font-size: 0.8em;
}

li:nth-last-child() {
  margin-right: 0;
}
