* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.title {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}
.skills {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.focus {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3.3rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.2rem;
}
