html,
body {
  margin: 0;
  padding: 0;
  background-color: #f6f5f0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
}
p,
li,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

/* MAIN */

main {
  margin-top: 4rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 0.1em;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 0.1em;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.1em;
  color: purple;
}

p {
  margin-top: 0;
  padding-top: 0;
}

a {
  color: purple;
  text-decoration: none;
}
a:focus,
a:hover {
  color: purple;
  text-decoration: underline;
}
/* PORTFOLIO */

/* .portfolio {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.portfolio a {
  text-decoration: none;
} */

/* .case-study {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.case-study p {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: black;
} */

@media only screen and (min-width: 500px) {
  .container {
    max-width: 1024px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .focus {
    width: 30%;
  }
}
