/* Reset Defaults */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global Styles */

html,
body {
  font-family: "Roboto Mono", monospace;
  /* color: #2a2a2a; */
  color: #1a1a1a;
  /* font-size: 1.125rem; */
}
a {
  color: orangered;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
  background-color: orange;
}

.container {
  margin: 0 auto;
  max-width: 500px;
}
.container-flex {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90%;
  justify-content: center;
}
p {
  margin-bottom: 1em;
}
.header {
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  width: 90%;
}

.nav ul {
  list-style: none;
  font-weight: bold;
}

.nav li {
  display: inline;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 0.5em;
}
.nav a {
  text-decoration: none;
  font-size: 1rem;
}

.current-page {
  border-bottom: 2px solid orangered;
  color: #2a2a2a;
}

.current-page:hover {
  color: #2a2a2a;
}
